<strong>Olá, {{ staff }}</strong>
<p>
  Você tem um inscrito no meetup: {{ meetup }}
</p>
<p>
  <strong>Participante: </strong> {{ enrolled }} <br />
</p>
<small>
  <i>Seu evento vai ser top!</i>
</small>
<br />
